{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="ui actions">
    <h3 class="ui top attached header">
        Actions
    </h3>
    <div class="ui list">
        <a class="item" href="{% url 'upload' %}">
            <i class="arrow circle outline up icon"></i>
            <div class="content">
                <div class="header">Upload a CSV</div>
                <div class="description">Upload CSV file that contains "country code(2 letter), city, timezone in GMT(+3, -4)" in this format</div>
            </div>
        </a>
        <a class="item display">
            <i class="align justify icon"></i>
            <div class="content">
                <div class="header">Display All Records</div>
                <div class="description">Fetch and display all records. This will all uploaded records.</div>
            </div>
        </a>
        <a class="item create">
            <i class="grid layout icon"></i>
            <div class="content">
                <div class="header">Create Group</div>
                <div class="description">Create group base on number inputted</div>
            </div>
        </a>
    </div>
</div>

<div class="ui form-cont hidden">
    <h3 class="ui top attached header">
        All records
    </h3>
    <table class="ui table">
        <thead>
            <tr>
                <th>City</th>
                <th>Country Code</th>
                <th>Timezone</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records%}
                <tr class ="record" data-flag="0">
                    <td>{{record.country_code}}</td>
                    <td>{{record.city}}</td>
                    <td>GMT {{record.timezone}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="ui res-container">
    <div class="form config hidden">
        <div class="ui form">
            <div class="inline field">
                <label>Input your GMT</label>
                <input type="text" class="gmt" placeholder="Greenwich Mean Time">
            </div>
            <div class="inline field">
                <label>Number of people per group</label>
                <input type="text" class="num" placeholder="4 default">
            </div>
            <div class="inline field">
                <label>Input your Working Time in 24 hours without the minutes</label>
                <div class="inline field">
                    <input type="text" class="time_in" placeholder="Time in">
                    <input type="text" class="time_out" placeholder="Time out">
                </div>
            </div>
            <button class="ui secondary button generate">Generate</button>
            <label>If no value inputted default value is provided</label>
        </div>
    </div>
    <table class="ui collapsing table results hidden">
        <thead>
            <tr class='cities-header'>
                <th class='seven wide column'>Cities</th>
                <th class='four wide column'>Schedules</th>
                <th class='four wide column'>Day</th>
            </tr>
        </thead>
        <tbody class='results-body'>

        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/create.js' %}" charset="utf-8"></script>
{% endblock %}
