{% extends 'base.html' %}
{% load static %}

{% block content %}
    <table class="ui collapsing table results hidden">
        <thead>
            <tr class='cities-header'>
                <th class='four wide column'>Cities</th>
                <th class='four wide column'>Schedules</th>
            </tr>
        </thead>
        <tbody class='results-body'>

        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/index.js' %}" charset="utf-8"></script>
{% endblock %}
